<h3><%= @report.title %></h3>

<div>
  <%= l @report.delivered_at %>
</div>

<h4>
  <% if @report.attacker_won? %>
    <%= t '.attacker_won' %>
  <% else %>
    <%= t '.defender_won' %>
  <% end %>
</h4>

<% if @report.occupation_began? %>
  <h4>
    <%= t '.occupation_began' %>
  </h4>
<% end %>

<div class="row">
  <div class="col-md-6">
    <%= t '.attacker' %>:
    <%= @report.origin %>
  </div>
  <div class="col-md-6">
    <%= t '.defender' %>:
    <%= @report.target %>
  </div>
</div>

<h4><%= t '.attacker' %></h4>
<%= render partial: 'combat_reports/units',
           locals: { before_combat: @report.attacker_before_combat,
                     losses: @report.attacker_loss } %>

<h4><%= t '.defender' %></h4>
<%= render partial: 'combat_reports/units',
           locals: { before_combat: @report.defender_before_combat,
                     losses: @report.defender_loss } %>

<% if @report.attacker_won? && !@report.occupation_began? %>
  <h4><%= t '.plundered_resources' %></h4>
  <div class="plundered-resources">
    P: <%= @report.plundered_resources[:resource_1].to_i %>,
    C: <%= @report.plundered_resources[:resource_2].to_i %>,
    S: <%= @report.plundered_resources[:resource_3].to_i %>
  </div>
<% end %>
