<table class="table table-striped table-condensed units">
  <tr>
    <th></th>
    <% LaFamiglia.units.each do |u| %>
      <th><%= u.name %></th>
    <% end %>
  </tr>
  <tr>
    <td><%= t '.before_combat' %></td>
    <% before_combat.each_pair do |k, v| %>
      <td><%= v %></td>
    <% end %>
  </tr>
  <tr>
    <td><%= t '.losses' %></td>
    <% losses.each_pair do |k, v| %>
      <td><%= v %></td>
    <% end %>
  </tr>
</table>
