<div class="page-header">
  <h1><%= t '.header' %></h1>
</div>

<% unless @message_statuses.empty? %>
  <table class="table table-striped">
    <tr>
      <th><%= t '.time' %></th>
      <th><%= t '.sender' %></th>
      <th><%= t '.receivers' %></th>
      <th></th>
    </tr>
    <% @message_statuses.each do |status| %>
      <% message = status.message %>
      <tr>
        <td><%= l Time.at(message.time) %></td>
        <td><%= message.sender %></td>
        <td><%= message.receivers.join ', ' %></td>
        <td>
          <% unless status.read %>
            <span class="glyphicon glyphicon-envelope"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p><%= t '.no_messages' %></p>
<% end %>
