<div class="page-header">
  <h1><%= t '.header' %></h1>
</div>

<% unless @message_statuses.empty? %>
  <table class="table table-striped messages">
    <tr>
      <th class="time"><%= t '.time' %></th>
      <th class="sender"><%= t '.sender' %></th>
      <th class="receivers"><%= t '.receivers' %></th>
      <th class="status"></th>
    </tr>
    <% @message_statuses.each do |status| %>
      <% message = status.message %>
      <tr>
        <td><%= link_to (l Time.at(message.time)), message_path(message) %></td>
        <td><%= message.sender %></td>
        <td><%= message.receivers.join ', ' %></td>
        <td>
          <% unless status.read %>
            <span class="glyphicon glyphicon-envelope"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p><%= t '.no_messages' %></p>
<% end %>

<h3>
  <%= t '.new' %>
</h3>

<%= render partial: 'form' %>
