<%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name),
                    html: { method: :post, class: 'form-account' }) do |f| %>
  <h2>Resend unlock instructions</h2>

  <%= f.error_notification %>
  <%= f.full_error :unlock_token %>

  <%= f.input :email, required: true, autofocus: true %>

  <button class="btn btn-lg btn-primary btn-block" type="submit">Resend unlock instructions</button>

  <%= render "devise/shared/links" %>
<% end %>
