<div class="row tabpanel">
  <div class="col-md-9 tab-content">
    <div id="messages" class="tab-pane active">
      <h2>
        <%= @player.name %>
      </h2>

      <div>
        <%= t '.info_points', count: @player.points %>
        <%= t '.info_villas', count: @player.villas.count %>
      </div>

      <% if @player.villas.count > 0 %>
        <h3>
          <%= t '.villas' %>
        </h3>

        <table class="table table-striped">
          <tr>
            <th><%= t '.name' %></th>
            <th><%= t '.points' %></th>
          </tr>
          <% @player.villas.order(points: :desc).each do |v| %>
            <tr>
              <td><%= v %></td>
              <td><%= v.points %></td>
            </tr>
          <% end %>
        </table>
      <% else %>
        <p><%= t '.no_villas' %></p>
      <% end %>
    </div>

    <div id="new-message" class="tab-pane">
      <h3>
        <%= t '.new_message' %>
      </h3>

      <%= render 'messages/form' %>
    </div>
  </div>

  <div class="col-md-3">
    <ul class="nav nav-pills nav-stacked" role="tablist">
      <li role="presentation" class="active">
        <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><%= t '.sidebar.villas' %></a>
      </li>
      <li role="presentation">
        <a href="#new-message" aria-controls="new-message" role="tab" data-toggle="tab"><%= t '.sidebar.new_message' %></a>
      </li>
    </ul>
  </div>
</div>
