<div class="resources">
  P: <%= villa.pizzas.to_i %> (+ <%= resource_gains[:pizzas].to_i %>/h),
  C: <%= villa.concrete.to_i %> (+ <%= resource_gains[:concrete].to_i %>/h),
  S: <%= villa.suits.to_i %> (+ <%= resource_gains[:suits].to_i %>/h)
</div>
