<div class="resources">
  P: <%= villa.resource_1.to_i %> (+ <%= resource_gains[:resource_1].to_i %>/h),
  C: <%= villa.resource_2.to_i %> (+ <%= resource_gains[:resource_2].to_i %>/h),
  S: <%= villa.resource_3.to_i %> (+ <%= resource_gains[:resource_3].to_i %>/h),
  <%= t 'supply' %> <%= current_villa.used_supply %>/<%= current_villa.supply %>
</div>
