<div class="page-header">
  <h1><%= t '.header' %></h1>
</div>

<% unless @reports.empty? %>
  <table class="table table-striped">
    <tr>
      <th><%= t '.time' %></th>
      <th><%= t '.title' %></th>
      <th></th>
    </tr>
    <% @reports.each do |report| %>
      <tr>
        <td><%= l Time.at(report.time) %></td>
        <td><%= link_to report.title, report_path(report) %></td>
        <td>
          <% unless report.read %>
            <span class="glyphicon glyphicon-envelope"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p><%= t '.no_reports' %></p>
<% end %>
