<div class="page-header">
  <h1>Map</h1>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="map col-md-8 col-md-offset-2">
      <div class="row">
        <% @min_x.upto @max_x do |x| %>
          <div class="x-axis-label"><%= x %></div>
        <% end %>
      </div>

      <% @villas.each do |row| %>
        <div class="row">
          <div class="y-axis-label"><%= @y = ((@y || @min_y - 1) + 1) %></div>

          <% row.each do |v| %>
            <div class="cell">
              <div class="villa">
                <% unless v.nil? %>
                  <%= v %>
                  <% if v.player != current_player %>
                    <button type="button" class="btn btn-xs btn-primary"
                            data-toggle="modal" data-target="#attackModal"
                            data-target-name="<%= v.player %> – <%= v %>"
                            data-target-id="<%= v.id %>">
                      A!
                    </button>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render partial: 'attack_modal' %>
