<div id="map"
  data-current-player="<%= current_player.to_json(only: [:id]) %>"
  data-current-villa="<%= current_villa.to_json(only: [:id]) %>"
  data-dimensions="<%= @dimensions.to_json %>"
  data-villas="<%= @villas.to_json(only: [:id, :name, :x, :y], include: { player: { only: :id }}) %>"
  data-authenticity-token="<%= @authenticity_token %>"
></div>
