<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/favicon.ico">

    <title>La Famiglia – un’offerta nessuno può rifiutare</title>

    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% if player_signed_in? %>
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">La Famiglia</a>
          </div>
          <div class="navbar-collapse collapse">
            <% unless current_villa.nil? %>
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><%= link_to t('.villas'), villas_path %></li>
                <li><%= link_to t('.players'), players_path %></li>

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <%= coordinates(current_villa) %> <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li><%= link_to t('.overview'),  current_villa %></li>
                    <li><%= link_to t('.movements'), villa_movements_url(current_villa) %></li>
                  </ul>
                </li>

                <li><%= link_to t('.map'), map_url(x: current_villa.x, y: current_villa.y) %></li>
                <li><%= resources current_villa %></li>
              </ul>
            <% end %>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span class="glyphicon glyphicon-envelope"></span> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link_to t('.reports'),  reports_url %></li>
                  <li><%= link_to t('.messages'), messages_url %></li>
                </ul>
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span class="glyphicon glyphicon-user"></span> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link_to t('.player.logout'), destroy_player_session_path, method: :delete %></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Account</li>
                  <li><%= link_to t('.player.edit'), edit_player_registration_path %></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    <% end %>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= bootstrap_alert(:danger, flash.alert) if flash.alert %>
          <%= bootstrap_alert(:info, flash.notice)  if flash.notice %>
          <%= yield %>
        </div>
      </div><!--/row-->
    </div> <!-- /container -->
  </body>
</html>
